# **Importing the dataset**

In [113]:
import pandas as pd
path = "/content/JC-202012-citibike-tripdata.csv"

df = pd.read_csv(path)
#df.to_csv("/content/new_csv.csv", index=False)

# **Transformations on the Dataset**

In [114]:
#removing latitudes and longitudes from the analysis, and adding an index to every ride completed
df = df.drop(columns = ['start station latitude', 'start station longitude', 'end station latitude', 'end station longitude'])
df['idx'] = range(1, len(df)+1)

In [115]:
#hour bracket for morning, evening and late night
list_mo = list(range(6,13))
list_ev = list(range(13,23))
list_ln = [23,24,1,2,3,4,5]

#converting the object type to datetime64 type
df['starttime'] =  pd.to_datetime(df['starttime'])
df['stoptime'] =  pd.to_datetime(df['stoptime'])
# 05:00 to 21:00 are working hours and is represented by 1, and 21 onwards till 05:00 is late night, and is represented by 0
#df['time_slot'] = df['starttime'].apply(lambda x: 1 if x.hour in range(5,22) else 0)
df['time_slot'] = df['starttime'].apply(lambda x: "MO" if x.hour in list_mo else ("EV" if x.hour in list_ev else "LN"))

In [116]:
# 0 if it is a weekday, and 1 if it is a weekend
df['day_type'] = ((pd.DatetimeIndex(df.starttime).dayofweek) // 5 == 1).astype(int)
df['day_type'] = df['day_type'].map({0: "WKDY", 1: "WKND"})

In [117]:
#map 0 to diverse, 1 to Male, and 2 to Female
df['gender'] = df['gender'].map({0:'D', 1:'M', 2:'F'})

In [118]:
#converting time duration to minutes and hours
df['td_minutes'] = round(df['tripduration']/60, 2)
df['td_hours'] = round(df['tripduration']/3600, 2)

In [119]:
df['age'] = (2021 - df['birth year'])
#creating age bins
list_yng = list(range(18,36))
list_mid = list(range(36,56))
df['age_bin'] = df['age'].apply(lambda x: "YNG" if x in list_yng else ("MID" if x in list_mid else "OLD"))

In [128]:
df =df.reindex(columns= ['idx', 'tripduration', 'td_minutes', 'td_hours', 'starttime', 
                         'stoptime', 'day_type', 'time_slot','start station id', 'start station name', 'end station id', 'end station name', 
                         'bikeid', 'usertype', 'birth year', 'age', 'age_bin', 'gender'])

   idx  tripduration  td_minutes  td_hours  ... birth year age age_bin gender
0    1           146        2.43      0.04  ...       1989  32     YNG      F
1    2           572        9.53      0.16  ...       1997  24     YNG      F
2    3           387        6.45      0.11  ...       1960  61     OLD      M
3    4           188        3.13      0.05  ...       1998  23     YNG      M
4    5           594        9.90      0.16  ...       1988  33     YNG      M

[5 rows x 18 columns]

In [127]:
df.head()

In [121]:
len(df)

11694

# **Filtering the top 2 rows which seem to have an extremely high Trip Duration**

In [122]:
df = df[df.tripduration != 2068550]

In [123]:
df = df[df.tripduration != 2056977]

In [124]:
df.loc[(df['tripduration'] == 2056977 ), :]

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, end station id, end station name, bikeid, usertype, birth year, gender, idx, time_slot, day_type, td_minutes, td_hours, age, age_bin]
Index: []

In [129]:
#export csv for further data analysis
df.to_csv("/content/citi202012.csv", index=False)

# **Getting a statistical distribution of every column of the dataset**

In [126]:
df.describe(include="all")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

         tripduration                   starttime  ...           age  age_bin
count    11692.000000                       11692  ...  11692.000000    11692
unique            NaN                       11692  ...           NaN        3
top               NaN  2020-12-08 08:20:29.472000  ...           NaN      MID
freq              NaN                           1  ...           NaN     5362
first             NaN  2020-12-01 00:02:50.145000  ...           NaN      NaN
last              NaN  2020-12-31 23:48:34.575000  ...           NaN      NaN
mean      1035.121023                         NaN  ...     40.239309      NaN
std       8356.091227                         NaN  ...     11.416765      NaN
min         61.000000                         NaN  ...     18.000000      NaN
25%        292.000000                         NaN  ...     31.000000      NaN
50%        484.000000                         NaN  ...     37.000000      NaN
75%        883.250000                         NaN  ...     52.000000      NaN
max     674294.000000                         NaN  ...     74.000000      NaN

[13 rows x 18 columns]

# **The Total Number of Rides for the month of December**

In [ ]:
len(df)

11694

# **Details based on Start and End Station**

In [54]:
print("Example Start Stations: Brunswick St, Newport PATH, Journal Square, Grove St PATH ")
print("Exmaple End Stations: Newport Pkwy, Astor Place, McGinley Square, Jersey & 6th St")
start_station = input("Enter the start station: ")
end_station = input("Enter the end station: ")
df.loc[(df['start station name'] == start_station) & (df['end station name']== end_station) , :]

Example Start Stations: Brunswick St, Newport PATH, Journal Square, Grove St PATH
Exmaple End Stations: Newport Pkwy, Astor Place, McGinley Square, Jersey & 6th St
Enter the start station: Newport Pkwy
Enter the end station: Newport Pkwy

       tripduration               starttime  ... day_type  time_slot
144            2648 2020-12-01 10:09:56.562  ...        0          1
146            2574 2020-12-01 10:11:11.321  ...        0          1
151            1231 2020-12-01 10:19:56.769  ...        0          1
395            1816 2020-12-01 16:35:40.975  ...        0          1
415            1110 2020-12-01 17:08:30.624  ...        0          1
...             ...                     ...  ...      ...        ...
11514          2198 2020-12-31 14:45:37.756  ...        0          1
11616          2129 2020-12-31 17:37:16.837  ...        0          1
11628          2734 2020-12-31 17:48:43.511  ...        0          1
11644          1226 2020-12-31 18:52:31.536  ...        0          1
11689          1750 2020-12-31 23:07:44.003  ...        0          0

[140 rows x 15 columns]

In [55]:
len(df.loc[(df['starttime'] >= '2020-12-13') & (df['stoptime'] < '2020-12-14')])

777

# **How many times has a given Bike been used in the Month ?**

In [53]:
bikeid = int(input("Enter the bike ID: "))
print(len(df.loc[(df['bikeid']== bikeid) , :]))
details = input("Do you want details of where and when the bike was used? (yes/no)")
if details.lower() == "yes":
  print(df.loc[(df['bikeid']== bikeid) , :])
print("Process Over")

Enter the bike ID: 38449
55
Do you want details of where and when the bike was used? (yes/no)no
Process Over

# **Calculate the percentage of Subscription Users**

In [ ]:
sub_users = len(df.loc[df['usertype']=="Subscriber", :])
cus_users = len(df.loc[df['usertype']=="Customer", :])
all_users = len(df)
sub_users_percentage = sub_users/all_users * 100
cus_users_percentage = cus_users/all_users * 100
print("Percentage of Subscription users for December 2020 are {} %".format(sub_users_percentage))
print("Percentage of Customer users for December 2020 are {} %".format(cus_users_percentage))

Percentage of Subscription users for December 2020 are 80.41730802120746 %
Percentage of Customer users for December 2020 are 19.582691978792543 %

**Customers are 24-hour pass or 3-day pass users** <br>
**Subscribers are Annual Members**
 1. ***Subscription users are 4 times that of customer users***

# **Calculate the percentage of Male and Female Users for CitiBike**

In [ ]:
male_users = len(df.loc[df['gender']== 1, :])
female_users = len(df.loc[df['gender']== 2, :])
unknown_users = len(df.loc[df['gender']== 3, :])
all_users = len(df)
male_users_percentage = male_users/all_users * 100
female_users_percentage = female_users/all_users * 100
unknown_users_percentage = unknown_users/all_users * 100
print("Percentage of Male users for December 2020 are {} %".format(male_users_percentage))
print("Percentage of Female users for December 2020 are {} %".format(female_users_percentage))
print("Percentage of Unknown users for December 2020 are {} %".format(unknown_users_percentage))

Percentage of Male users for December 2020 are 66.4015734564734 %
Percentage of Female users for December 2020 are 21.959979476654695 %
Percentage of Unknown users for December 2020 are 0.0 %

In [ ]:
male_and_subscribers = len(df.loc[(df['gender'] == 1) & (df['usertype']== "Subscriber") , :])
female_and_subscribers = len(df.loc[(df['gender'] == 2) & (df['usertype']== "Subscriber") , :])
male_and_customers = len(df.loc[(df['gender'] == 1) & (df['usertype']== "Customer") , :])
female_and_customers = len(df.loc[(df['gender'] == 2) & (df['usertype']== "Customer") , :])

print("MS: {}, FS: {}, MC: {}, FC: {}".format(male_and_subscribers, male_and_customers, female_and_subscribers ,female_and_customers))

MS: 7048, FS: 717, MC: 2233, FC: 335

 1. ***The number of male users are almost three times that of Female Users***
 2. ***Two thirds females are subscribers rather than customers***
 3. ***Three Quarters males are subscribers rather than customers***

# **Longest Trip Duration**
is the most amount of time the bike has been used for a single time period. 574 Hours is way too long for the bike to be running without being docked at all, and there is a high likelihood that this datapoint might be an anomaly. This datapoint could be excluded from the analysis.

In [ ]:
df['tripduration'].max() / 3600

574.5972222222222

# **The Average Ride Duration:**
The average trip lasted 14 minutes and 3
seconds and covered 1.75 miles according to the December 2020 operating report. 
*Let's check the number of trips that had a duration, that is double of the average trip time apprx. 30 mins*

In [ ]:
df.loc[df['tripduration'] > 1800, :]

       tripduration                 starttime  ... birth year  gender
6              4990  2020-12-01 03:56:44.9650  ...       1996       2
7              4947  2020-12-01 03:57:31.4190  ...       2000       1
80            17454  2020-12-01 08:10:54.5190  ...       1975       2
106            3900  2020-12-01 09:03:48.4400  ...       1988       1
112            2655  2020-12-01 09:10:20.9020  ...       1984       1
...             ...                       ...  ...        ...     ...
11624          1914  2020-12-31 17:44:38.3590  ...       1989       2
11628          2734  2020-12-31 17:48:43.5110  ...       1988       2
11641          2021  2020-12-31 18:34:44.5650  ...       1959       1
11655          2762  2020-12-31 19:34:51.4760  ...       1960       1
11659          2372  2020-12-31 19:47:53.7000  ...       1985       1

[1112 rows x 11 columns]

# **Checking the Number of unique Start Stations, End Stations, and Bikes available**

In [57]:
for i in df.columns:
  n = df[i].nunique()
  print("{} has {} unique values".format(i, n))

tripduration has 2477 unique values
starttime has 11694 unique values
stoptime has 11694 unique values
start station id has 51 unique values
start station name has 51 unique values
start station latitude has 51 unique values
start station longitude has 51 unique values
end station id has 58 unique values
end station name has 58 unique values
end station latitude has 58 unique values
end station longitude has 58 unique values
bikeid has 576 unique values
usertype has 2 unique values
birth year has 56 unique values
gender has 3 unique values
time_slot has 3 unique values
day_type has 2 unique values
age has 56 unique values
td_minutes has 2477 unique values
td_hours has 240 unique values

**Extras**

In [ ]:
df.loc[df['gender']== 2]

       tripduration                 starttime  ... birth year  gender
0               146  2020-12-01 00:02:50.1450  ...       1989       2
1               572  2020-12-01 00:11:57.3910  ...       1997       2
6              4990  2020-12-01 03:56:44.9650  ...       1996       2
16              239  2020-12-01 05:57:03.0350  ...       1983       2
20              373  2020-12-01 06:14:56.9720  ...       1985       2
...             ...                       ...  ...        ...     ...
11669           417  2020-12-31 20:29:35.5620  ...       1990       2
11673           526  2020-12-31 21:10:39.6390  ...       1986       2
11676           645  2020-12-31 21:29:32.0630  ...       1993       2
11678           326  2020-12-31 22:02:58.3490  ...       1994       2
11682           591  2020-12-31 22:10:54.8540  ...       1989       2

[2568 rows x 11 columns]